body {
    background:#5f2c70;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* Menu */
.menu-navigation {
    
}

.main-heading {
    background:linear-gradient(5deg, #f9c802, #ec6c06);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: rgb(143, 83, 5) 0.1em 0.1em 0.2em;
}


.secondary-heading {
   color:lightgoldenrodyellow;
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-shadow: black 0.1em 0.1em 0.2em
   
}
h4 {
    color:lightgoldenrodyellow;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
}

p {
    color:#FFCDB2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;   
}

.WTF {
    color:#9932CC;
}

a {
    color:white;
}



li {
    text-align: center;
}


.img-profile {
    margin: 30px;
    float:right;
}

img {
    margin:10px;
    position: relative;
}




footer {
    color: lightgoldenrodyellow;
    text-align: left;
   
}
